# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
nginx/certs/
mysql

wordpress/wp-admin/
wordpress/wp-content/index.php
wordpress/wp-content/languages
wordpress/wp-content/plugins/index.php
wordpress/wp-content/themes/index.php
wordpress/wp-includes/
wordpress/index.php
license.txt
readme.html
wp-*.php
xmlrpc.php

# Configuration
wp-config.php

# Example themes
wordpress/wp-content/themes/twenty*/
wordpress/wp-content/themes/jin-dev/blocks/*/build/
wordpress/wp-content/plugins/*/build/

# Example plugin
wordpress/wp-content/plugins/query-monitor
wordpress/wp-content/plugins/laravel-dd

# Uploads
wordpress/wp-content/uploads/

# Log files
*.log

# htaccess
.htaccess
.env
.env.db

.DS_Store
node_modules