@layer reset {
  *, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --fs-xs: clamp(.75rem, 1.5vw, .875rem);
    --fs-sm: clamp(.875rem, 2vw, 1rem);
    --fs-md: clamp(1rem, 2vw, 1.125rem);
    --fs-lg: clamp(1.25rem, 2.5vw, 1.5rem);
    --fs-xl: clamp(1.5rem, 3vw, 1.875rem);
    --fs-2xl: clamp(1.875rem, 3.5vw, 2.25rem);
    --fs-3xl: clamp(2.5rem, 5vw, 3.125rem);
  }

  html {
    scroll-behavior: smooth;
    scrollbar-gutter: 1rem;
  }

  h1 {
    font-size: var(--fs-2xl);
    line-height: 1;
  }

  h2 {
    font-size: var(--fs-xl);
    line-height: 1.2;
  }

  h3 {
    font-size: var(--fs-lg);
    line-height: 1.3;
  }

  h4 {
    font-size: var(--fs-md);
    line-height: 1.4;
  }

  h5 {
    font-size: var(--fs-sm);
    line-height: 1.4;
  }

  h6 {
    font-size: var(--fs-xs);
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
}

@layer utilities {
  .line-clamp {
    --_font-size: clamp( 0.875rem, 2vw, 1rem);
    --_line-height: 1.5;
    --_line-clamp: 2;
    --_height: calc(var(--_font-size) * var(--_line-height) * var(--_line-clamp));
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--_line-clamp);
    overflow: hidden;
    text-wrap: pretty;
    font-size: var(--_font-size);
    line-height: var(--_line-height);

    @container style(--_fixed-height: true) {
      height: var(--_height);
    }
  }

  .piles {
    display: grid;
    grid-template-areas: 'piles';

    & > * {
      grid-area: pile;
    }
  }

  .prose {
    * + * {
      margin-block-start: .5em;
    }
  }
}